body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #f8f8f8;
    font-family: 'Arial', sans-serif;
    color: #333;
}

.bordered-box {
    border: 2px solid #e74c3c;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    width: 90%;
    max-width: 340px; /* Adjust based on the desired width */
    margin: 20px;
}

#inputArea {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Spacing between inputs */
}

#inputArea input[type="text"],
#inputArea button {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px;
    font-size: 16px;
    outline: none; /* Removes the default focus outline */
}

#inputArea input[type="text"] {
    background-color: #fafafa;
}

#inputArea button {
    background-color: #3498db;
    color: white;
    font-weight: bold;
    border: none;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

#inputArea button:hover {
    background-color: #2980b9;
}

@media (max-width: 768px) {
    .bordered-box {
        width: 95%;
    }

    #inputArea input[type="text"], 
    #inputArea button {
        padding: 12px;
        font-size: 18px; /* Larger font size for better readability on mobile */
    }
}
