body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #fde2e4;
    font-family: 'Roboto', sans-serif;
    color: #333;
}

.bordered-box {
    border: 2px solid #f9d5e5;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    width: 90%;
    max-width: 340px;
    margin: 20px;
    transition: transform 0.2s;
}

.bordered-box:hover {
    transform: scale(1.05);
}

.decorative-bar {
    background-color: #eec4c4;
    height: 100%;
    width: 10px;
    border-radius: 15px 0 0 15px;
    position: absolute;
    left: 0;
    top: 0;
}

#inputArea {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#inputArea input[type="text"],
#inputArea button {
    border: 1px solid #f9d5e5;
    border-radius: 20px;
    padding: 15px;
    font-size: 16px;
    outline: none;
    transition: border-color 0.2s;
}

#inputArea input[type="text"]:focus {
    border-color: #eec4c4;
}

#inputArea input[type="text"] {
    background-color: #fff0f3;
}

#inputArea button {
    background-color: #f9d5e5;
    color: #555;
    font-weight: 500;
    cursor: pointer;
}

#inputArea button:hover {
    background-color: #eec4c4;
    color: #333;
}

.download-btn {
    padding: 10px 20px;
    margin-top: 20px;
    border: none;
    border-radius: 20px;
    background-color: #f9d5e5;
    color: #555;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.download-btn:hover {
    background-color: #eec4c4;
    color: #333;
}

@media (max-width: 768px) {
    .bordered-box {
        width: 95%;
    }

    #inputArea input[type="text"], 
    #inputArea button {
        padding: 12px;
        font-size: 18px;
    }
}

#canvasContainer {
    width: 90vw; /* Make the canvas width responsive */
    max-width: 700px; /* Set a max-width if needed */
    margin-top: 20px;
    display: block; /* Changed from none to block to be visible */
}

canvas {
    max-width: 100%; /* Ensures canvas is not wider than its container */
    height: auto !important; /* Keeps the aspect ratio of the canvas */
}